*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
a {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 600;
}
a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover, a:active {
    color: gold;
}

.div-shadow {
    -webkit-box-shadow: 4px 4px 5px 0px rgba(153, 148, 153, 0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(153, 148, 153, 0.75);
    box-shadow: 4px 4px 5px 0px rgba(153, 148, 153, 0.75);
}

#hero {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("./src/images/hero.jpg") center / cover;
}
#top-navbar {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}
#top-navbar a{
    padding: 10px 20px;
    margin-right: 20px;
}
header {
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 3em;
    align-self: center;
}
h2 {
    margin: 10px 0px;
}
#app {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.film {
    margin: 10px;
    padding: 10px;
    display: flex;
}
.film img {
    display: block;
    max-width: 50%;
    height: auto;
}
@media screen and (max-width: 800px) {
    .film {
        margin: 0px;
        padding: 0px;
        flex-basis: 100vw;
        flex-direction: column;
    }
    .film img {
        max-width: 100%;
    }
}
@media screen and (min-width: 800px) and (max-width: 1920px) {
    .film {
        flex-basis: 45vw;
    }
}
@media screen and (min-width: 1920px) {
    .film {
        flex-basis: 30vw;
    }
}

.film .description {
    padding: 0px 10px;
}

footer {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;

}
